<div class="footer bg-dark" style="padding:1rem; text-align: left;">

<div class="row">
  <div class="col-lg-6">
    <a href="/home"><h2 class="text-white"><span>Bidders Nest</span></h2></a>
    <span><a href="/about"><h4 class="text-white">About</h4></a></span>
  </div>
  <div class="col-lg-6 text-white">
    <h3 style="font-size:24px;">For more Queries or details, Contact:</h3>
    <h4 style="font-size:16px;">N. Sathvik <a href="mailto:sathvik170531@mechyd.ac.in?subject=query">sathvik170531@mechyd.ac.in</a></h4>
    <h4 style="font-size:16px;">N. Rohith <a href="mailto:rohithreddy170529@mechyd.ac.in?subject=query">rohithreddy170529@mechyd.ac.in</a></h4>
    <h4 style="font-size:16px;">P. Ritvik Raj <a href="mailto:ritvikraj170542@mechyd.ac.in?subject=query">ritvikraj170542@mechyd.ac.in</a></h4>
  </div>
</div>
<hr>

<div class="" style="text-align:center;">
  <a href="#"><img src="./icons/gitIcon.png" alt="GitLink"></a>
</div>
<p style="text-align:center;" class="text-white">CS:312 Software Engineering Semester Project Group 16</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
