<div class="footer bg-dark" style="padding:1rem; text-align: left;">

<div class="row">
  <div class="col-lg-6 mb-4">
    <a href="/home"><h3 class="text-white" style="font-size:30px;"><span>Bidders Nest</span></h3></a>
    <span><a href="/about"><h4 class="text-white">About Us</h4></a></span>
  </div>
  <div class="col-lg-6 text-white">
    <h3 style="font-size:24px;">For more Queries or details, Contact:</h3>
    <h4 style="font-size:16px;">N. Sathvik <a href="mailto:sathvik170531@mechyd.ac.in?subject=query">sathvik170531@mechyd.ac.in</a></h4>
    <h4 style="font-size:16px;">N. Rohith <a href="mailto:rohithreddy170529@mechyd.ac.in?subject=query">rohithreddy170529@mechyd.ac.in</a></h4>
    <h4 style="font-size:16px;">P. Ritvik Raj <a href="mailto:ritvikraj170542@mechyd.ac.in?subject=query">ritvikraj170542@mechyd.ac.in</a></h4>
  </div>
</div>
<hr>

<div class="" style="text-align:center;">
  <a href="https://github.com/sathviknimmaneni/softwareProject"  target="_blank"><img src="/icons/gitIcon.png" alt="GitLink" style="width:35px;height:35px;"></a>
</div>
<p style="text-align:center;" class="text-white">CS:312 Software Engineering Semester Project Group 16</p>
</div>

<script type="text/javascript">
  $("a").mouseover(function(){
        $("a").css("text-color", "red");
    $("a").css("text-decoration", "none");
  });
</script>
