<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bidders Nest About us.">
        <link rel="icon" href="./icons/Logo.png" type="image/gif" sizes="50x50">
    <title>BN-About</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
p{
  margin: 10px;
}

  h1{
    font-size: 60px;
    font-weight:900;
    margin:20px;
  }
  h2{
    font-size: 45px;
    font-weight: 800;
    margin: 30px;
  }
  .about-text{
    font-size: 20px;
  }
</style>
    </head>

  <body style="margin-top:100px;text-align:center;">
<%- include("partials/navbar") %>
<h1>About Us</h1>
<p class="about-text">Bidders Nest is MEC's Online Auction website built as a project for <strong>Software Engineering (CS 312)</strong>.<br><br>Bidders Nest was built using <strong>Bootstrap, Jquery</strong> for Front-End, <strong>Node js</strong> for Back-End, <strong>MongoDB</strong> for databases.</p>
<h2>Features</h2>
<div style="text-align:center;">

  <div class="row">
    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">phonelink</i>
    <h4>Is Responsive.</h4>
    <p>Currently supports most mobile and Desktop devices.</p>
    </div>
    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">enhanced_encryption</i>
    <h4>Is Secure</h4>
    <p>All the data is secured and stored at MongoDB Atlas.<br>We use PBKDF2 (Password-Based Key Derivation Function 2) algorithm to store passwords, which make them much more secure.</p>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">chat</i>
      <h4>Has a Chatroom</h4>
    <p>Has a Chat room to make the Users much more engaged with our website.</p>
    </div>

    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">how_to_reg</i>
    <h4>Has Verified Users</h4>
    <p>We regularly moniter Users and posted Auctions.<br>If any issues are found necessary actions will be taken.</p>
    </div>
</div>

  <div class="row">
    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">add_photo_alternate</i>
    <h4>Should upload Images</h4>
    <p>Users should upload an Image for every Auction they Start. To provide others on what they are going to get.</p>
    </div>

    <div class="col-lg-6 p-4">
      <i class="material-icons" style="font-size:48px;">place</i>
    <h4>Can only be Used in MEC.</h4>
    <p>New Auctions can only be started when the user is in 10kms radius of the Campus.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 p-4">
      <i class="material-icons" style="font-size:48px;">cancel</i>
    <h4>What we aren't</h4>
    <p>We just provide a platform for conducting Auction and don't actually own any of the products posted. Users should bid only when they are 100% sure of what they want.<br>If there were any issues, please contact us and we will do everything in our power to resolve them.</p>
    </div>
  </div>
</div>

<h2>Team</h2>
<div class="row" style="text-align:center;">
  <div class="col-lg-4 p-4">
    <span class="material-icons" style="font-size:48px;">
sentiment_satisfied
</span>
    <h3>Rohith</h3>
    <h5>Frontend & Databases.</h5>
  </div>
    <div class="col-lg-4 p-4">
      <span class="material-icons" style="font-size:48px;">
      face
      </span>
      <h3>Sathvik</h3>
      <h5>Design & Backend.</h5>
    </div>
    <div class="col-lg-4 p-4">
      <span class="material-icons" style="font-size:48px;">
sentiment_very_satisfied
</span>
        <h3>Ritvik</h3>
        <h5>Frontend & testing.</h5>
    </div>
</div>

<h2>Resources</h2>
<div class="row" style="text-align:center;">
  <div class="col-lg-4 p-4">
    <span><img src="./icons/app-brewery.png" alt="London App Brewery Logo" width="75px;" height="75px;"></span>
    <h3>London App brewery</h3>
    <p>The Complete 2020 Web Development Bootcamp. <br> Gave us the foundation to work on this Project.</p>
  </div>
    <div class="col-lg-4 p-4">
      <span><img src="./icons/so-logo.png" alt="StackOverflow Logo" width="300px;" height="75px;"></span>
        <h3>StackOverflow</h3>
        <p>What would we have done without StackOverflow.</p>
    </div>
    <div class="col-lg-4 p-4">
      <span><img src="./icons/youtube.png" alt="youtube Logo" width="100px;" height="70px;"></span>
      <h3>Youtube</h3>
      <p>Socket.io (The Net Ninja)<br>Multer (Traversy media) and So on.</p>
    </div>
</div>
<div class="row justify-content-center" style="text-align:center;">
      <div class="col-lg-6 p-4">
      <span><img src="./icons/npm-logo.png" alt="npm logo" width="100px;" height="50px;"></span><span style="font-size:24px;"> & </span> <span><img src="./icons/gitDark.png" alt="git icon" width="50px;" height="50px;"></span>
        <h3>Documentations</h3>
        <p>15+ dependencies and their great documentations.</p>
      </div>
    </div>
<%- include("partials/footer") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
