<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="jumbotron" style="text-align:center;">
  <h2>Couldn't find the Page</h2>
  <h1>You were Looking for!</h1>
  <h3>So, while we fix it.. <a href="/" class="btn btn-primary" role="button">Go Home</a></h3>
</div>
