      <% if (unableBid.length>0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= unableBid%></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <% } %>

          <% if (placedBid.length>0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= placedBid%></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <% } %>

            <% if (tryAgain.length>0) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><%= tryAgain %></strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <% } %>
