<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/signup.css">
  </head>
  <body>
    <section id="NavBar">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="home.html">BrandName</a>


            <ul class="navbar-nav mr-3"  style="margin-left:1200px;">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Profile</a>
                </li>
              </div>
              </ul>

          </nav>

    </section>
    <div class="container div_back">

     <div class="py-5 text-center">
       <h2>Sign up Now!</h2>
       <p class="lead">some random text................</p>
     </div>
           <hr class="mb-4">
     <div class="row  justify-content-center">

       <div class="col-md-8 order-md-1">
         <h4 class="mb-3">Details:</h4>
         <form class="needs-validation" novalidate>
           <div class="row">
             <div class="col-md-6 mb-3">
               <label for="firstName">First name</label>
               <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
               <div class="invalid-feedback">
                 Valid first name is required.
               </div>
             </div>
             <div class="col-md-6 mb-3">
               <label for="lastName">Last name</label>
               <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
               <div class="invalid-feedback">
                 Valid last name is required.
               </div>
             </div>
           </div>

           <div class="mb-3">
             <label for="phone">Phone Number</label>
             <input type="number" min="10" class="form-control" id="phone" placeholder="" required>
             <div class="invalid-feedback">
               Please enter your Valid Phone Number
             </div>
           </div>



           <hr class="mb-4">

           <h4 class="mb-3">Contact</h4>

           <div class="mb-3">
             <label for="email">Email</label>
             <input type="email" class="form-control" id="email" placeholder="" value="" required>
             <div class="invalid-feedback">
               Please enter a valid email address.
             </div>
           </div>


           <div class="row">
             <div class="col-md-4 mb-3">
               <label for="Branch">Branch</label>
               <select class="custom-select d-block w-100" id="Branch" required>
                 <option value="">Choose...</option>
                 <option>Cse</option>
               </select>
               <div class="invalid-feedback">
                 Please select a valid Branch.
               </div>
             </div>
             <div class="col-md-4 mb-3">
               <label for="Year">Year</label>
               <select class="custom-select d-block w-100" id="Year" required>
                 <option value="">Choose...</option>
                 <option>1st year</option>
               </select>
               <div class="invalid-feedback">
                 Please provide a valid Year.
               </div>
             </div>

             <div class="col-md-4 mb-3">
               <label for="Dorm">Dorm</label>
               <select class="custom-select d-block w-100" id="Dorm" required>
                 <option value="">Choose...</option>
                 <option>Satpura</option>
               </select>
               <div class="invalid-feedback">
                 Please provide a valid Dorm.
               </div>
             </div>
           </div>

           <hr class="mb-4">
           <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Sign Up</button>
         </form>
       </div>
     </div>
   </div>

<%- include('partials/footer') %>
