<form class="" action="/login" method="post">
  <input type="text" name="username" value="" placeholder="enter Username">
  <input type="password" name="password" value="" placeholder="enter Username">
  <button type="submit" name="button">Login</button>
</form>
