<form class="" action="/simpleSU" method="post">
  <input type="text" name="username" value="" placeholder="enter username">
  <input type="password" name="password" value="" placeholder="enter password">
  <button type="submit" name="button">Signup</button>
</form>
