<form class="" action="/test" method="post">
  <input type="email" name="email" value="" required>
  <input type="text" name="username" value="">
  <input type="password" name="password" value="" required>
  <button type="submit" name="button">Submit</button>
</form>
