<!DOCTYPE html>
<%- include('partials/navbar') %>

    <div class="Manage_auctions">

    <div class="row no-gutters card_margin">

    <div class="col-md-8">
      <div>
        <h3 class="product_name">Product Name:</h3>
        <h5>Auction Ends in:</h5>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <span class="bid_details"><small class="text-muted">Participants:10</small></span>
          <span class="bid_details"><small class="text-muted">Current Bid=Rs.500</small></span>
          <span class="bid_details"><small class="text-muted">Your Bid=Rs.500</small></span>
          <button class="btn btn-primary "type="submit" name="button">Join Bid</button>
      </div>
    </div>

    <div class="col-md-4">
      <img src="images/auction.jpg" class="card-img image_size" alt="...">
    </div>
    </div>

<%- include('partials/footer') %>
